
@{
    ViewBag.Title = "Cadastro";
}

<h2>Escolha uma das opções para continuar</h2>

<div class="row">

    <div class="col-md-4">
        <h2>Cliente</h2>
        <p>
            Reserve passagens, hospedagens e muito mais!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44309/AutenticacaoCliente/InsertCliente">Cliente &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Funcionário</h2>
        <p> 
            Edite, adicione e exclua dados   
         <p>
        <p><a class="btn btn-default" href="https://localhost:44309/AutenticacaoFuncionario/InsertFuncionario">Funcionario &raquo;</a></p>
    </div>

</div>