@{
    ViewBag.Title = "Home Page";
}

@if (TempData["MensagemLogin"] != null)
{

    <div class="alert alert-success">

        @TempData["MensagemLogin"]

    </div>
}

<section class="step-by-step-purchase content-main margin">
    <div class="container">
        <ul class="step-by-step-purchase__list">
            <li class="step-by-step-purchase__list__item active">Selecionar passagem</li>
            <li class="step-by-step-purchase__list__item">Detalhes passagem</li>
            <li class="step-by-step-purchase__list__item ">Pagamento</li>
            <li class="step-by-step-purchase__list__item ">Confirmação compra</li>
        </ul>
    </div>
    <picture class="step-by-step-purchase__background-image">
        <img src="images/background-image-passages.jpg" alt="">
        <div class="step-by-step-purchase__background-image__title-step-by-step">
            Lista de passsagens
        </div>
    </picture>
    <div class="container">
        <div class="step-by-step-purchase__content-main">
            <div class="step-by-step-purchase__content-main__text">
                <h1 class="step-by-step-purchase__content-main__text__title">
                    Explorar
                </h1>
                <p class="step-by-step-purchase__content-main__text__paragraph">
                    Aqui você encontra as melhores passagens para<br class="break-line">diversos destinos. Pesquise por destinos e <br class="break-line">datas e venha explorar o mundo com a Volait
                </p>
            </div>
            <div class="step-by-step-purchase__content-main__card-passages">
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">Gol airlanes</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">(GRU)</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">10h15min</span>
                            </span>
                            <span class="text-primary-color">(VIM)</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>São Paulo</span>
                            <span>Rio de Janeiro</span>
                        </div>
                    </div>
                    <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                        <span class="text-primary-color">R$ 120</span>
                        <button class="button">Ver Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


