
@{
    ViewBag.Title = "Sobre";
}

<main class="about-page">
    <section class="who-we-are container">
        <div class="who-we-are__content">
            <span class="who-we-are__content__instalsiste">
                Volait
            </span>
            <h2 class="who-we-are__content__title">
                Quem somos
            </h2>
            <p class="who-we-are__content__paragraph">
                O site foi fundado em setembro de 2020 e é fruto de um projeto pessoal de seis amigos brasileiros: Bruno Bastos, Brenda Berzin, Gabriel Jard, Pedro Augusto, Otavio de Paula e Thiago Galvão . Os sócios, já com experiência em viagens e e-commerces, em uma de suas trips pelo Brasil, observaram o potencial do mercado de passagens de ônibus pela internet e resolveram investir suas próprias economias no negócio.
                <br>
                A Volait começou atendendo 1.000 destinos do país em parceria com 30 viações. Hoje, a empresa é a que mais cresce no setor de vendas de passagens de avião on-line.
            </p>
        </div>
        <div class="who-we-are__image">
            <img src="~/images/hero-background.jpg" style="border-radius: 10px;" alt="">
        </div>
    </section>

    <section class="mission">
        <div class="container">
            <h2 class="mission__title title-section">
                Nossa história
            </h2>
            <p class="mission__paragraph paragraph-section">
                É importante lembrar de onde viemos para saber aonde queremos chegar. Antes de nos unirmos para formar a maior companhia aérea da América Latina, tivemos uma história cheia de pioneirismo, de desafios e de conquistas que nos trouxeram até aqui. Conheça os marcos mais importantes da nossa história.               
            </p>
        </div>
    </section>

    <div class="line-between container">
        <hr>
    </div>

    <section class="vision">
        <div class="container">
            <h2 class="vision__title title-section">
                Nossa visão
            </h2>
            <p class="vision__paragraph paragraph-section">
                Realizar com proeficiência sua função e tornar-se prioridade na nossa lista de clientes.
            </p>
        </div>
    </section>
    <div class="image-between">

    </div>


    <section class="values">
        <div class="container">
            <h2 class="values__title title-section">
                Nossa Missão
            </h2>
            <div class="values__content">
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Atender e auxiliar aventureiros ao redor do mundo, conectando a emoção de uma viagem a um emocionado viajante.
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="line-between container">
        <hr>
    </div>
    <section class="leaderships">
        <div class="container">
            <h2 class="leaderships__title title-section">
                Nossas lideranças
            </h2>
            <div class="leaderships__content">
                <div class="leaderships__content__item">
                    <h3 class="leaderships__content__item__title">
                        Thiago Galvão
                    </h3>
                    <p class="leaderships__content__item__function .paragraph-section">
                        CEO, Co-fundador
                    </p>
                </div>

                <div class="leaderships__content__item">
                    <h3 class="leaderships__content__item__title">
                        Pedro Augusto
                    </h3>
                    <p class="leaderships__content__item__function">
                        Co-fundador
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

