
@{
    ViewBag.Title = "Sobre";
}

<main class="about-page">
    <section class="who-we-are container">
        <div class="who-we-are__content">
            <span class="who-we-are__content__instalsiste">
                Volait
            </span>
            <h2 class="who-we-are__content__title">
                Quem somos
            </h2>
            <p class="who-we-are__content__paragraph">
                Quis at consequat, vitae sed integer dis. Cursus elementum purus velit integer integer id. Vel consequat egestas aliquam vitae diam sapien dolor habitant ipsum. Cursus in in volutpat at amet nulla ultrices. Consequat tristique egestas ultricies vel, ut viverra. Justo, interdum posuere ut lorem sit pharetra, vitae lobortis. Duis morbi id aliquam semper sapien. Lorem vestibulum a ut ut laoreet iaculis quis cursus.<br>
                Phasellus consequat mollis sed nulla morbi pharetra. Arcu nam amet commodo ut tortor, aliquam est. Ut sit habitant morbi consectetur non tristique accumsan malesuada volutpat. Nulla sit eu lobortis arcu egestas faucibus. Elementum tincidunt nulla aliquet maecenas ut diam egestas leo euismod. Quam viverra egestas dolor et at tempus ut diam. Molestie neque enim sed iaculis suspendisse cursus sit sem eget. Orci erat amet scelerisque tortor nam mauris nisl pulvinar. Sit massa consequat, sed quam.
            </p>
        </div>
        <div class="who-we-are__image">
            <img src="~/images/hero-background.jpg" style="border-radius: 10px;" alt="">
        </div>
    </section>

    <section class="mission">
        <div class="container">
            <h2 class="mission__title title-section">
                Nossa missão
            </h2>
            <p class="mission__paragraph paragraph-section">
                Risus, scelerisque elit elementum et ut id. Est platea scelerisque dolor, dictum. Ultrices at mi felis risus ac lacus. Mattis amet, massa et tempus, diam amet sed. Semper a aliquet a massa enim. Vitae quam est, amet cras purus.
            </p>
        </div>
    </section>

    <div class="line-between container">
        <hr>
    </div>

    <section class="vision">
        <div class="container">
            <h2 class="vision__title title-section">
                Nossa visão
            </h2>
            <p class="vision__paragraph paragraph-section">
                Nunc, senectus magna sit fringilla gravida mi ut eu. Id potenti ac et turpis porta ut. Viverra vitae eget ultricies sed. Risus adipiscing nibh nisl porttitor nibh tortor facilisi. Id nec massa rhoncus bibendum sagittis diam, morbi odio. Semper malesuada ac venenatis elementum elementum ut eleifend. Pulvinar ac non nec maecenas. Sapien luctus sit id ipsum sed et. Eget donec libero quisque.
            </p>
        </div>
    </section>
    <div class="image-between">

    </div>


    <section class="values">
        <div class="container">
            <h2 class="values__title title-section">
                Nossos valores
            </h2>
            <div class="values__content">
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
                <div class="values__content__item">
                    <h3 class="value__title">
                        Lorem Ipsum
                    </h3>
                    <p class="value__paragraph paragraph-section">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga deleniti assumenda tempora sint numquam minus, magni quam iure rem animi vitae qui. Ad nesciunt praesentium sit tempore, perspiciatis vero!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="line-between container">
        <hr>
    </div>
    <section class="leaderships">
        <div class="container">
            <h2 class="leaderships__title title-section">
                Nossas lideranças
            </h2>
            <div class="leaderships__content">
                <div class="leaderships__content__item">
                    <h3 class="leaderships__content__item__title">
                        Nome da liderança
                    </h3>
                    <p class="leaderships__content__item__function .paragraph-section">
                        CEO, Co-fundador
                    </p>
                </div>

                <div class="leaderships__content__item">
                    <h3 class="leaderships__content__item__title">
                        Nome da liderança
                    </h3>
                    <p class="leaderships__content__item__function">
                        CEO, Co-fundador
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

