.button {
    background-color: $black-color;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    color: $white-color;
    &.button--submit {
        // background-color: $primary-color;
        // width: 100%;
        // max-width: 450px;
        background-color: $primary-color;
        color: $white-color;
        width: 100%;
        max-width: 450px;
        margin-top: 50px;
    }
    &.button--primary-color {
        color: $white-color;
        background-color: $primary-color;
        border-radius: 15px;
        width: 100%;
    }
    &.button--grey {
        border: 2px solid $grey-color;
        color: $grey-color;
        background-color: $white-color;
        border-radius: 15px;
        width: 100%;
    }
    &.button--blue {
        background-color: $blue-color;
        border-radius: 15px;
        width: 100%;
    }
    &.button--black {
        background-color: $black-color;
        border-radius: 15px;
        width: 100%;
    }
    &.button--red {
        background-color: $red-color;
        font-weight: 500;
        border-radius: 15px;
        width: 100%;
    }
}