.form {
    text-align: center;
    font-size: $body-text;
    max-width: 450px;
    padding: 0px;
    &__title {
        font-size: $heading-one;
        color: $primary_color;
    }
    &__text {
        color: $grey-color;
        margin: 20px 0;
        line-height: 24px;
    }
    &__text {
        margin: 10px 0;
    }
    &__accent-text {
        color: $primary-color;
        a {
            color: inherit;
        }
    }
    #input_name-error.error,
    #input_email-error.error,
    #input_subject-error.error,
    #input_message-error.error {
        display: block;
        margin-top: 5px;
        color: #e43232;
    }
    &__area {
        width: 100%;
        margin-top: 35px;
        position: relative;
        &__input {
            font-size: 14px;
            background: none;
            border: 2px solid rgb(209, 208, 208);
            outline: none;
            color: $black-color;
            width: 100%;
            letter-spacing: 2px;
            border-radius: 5px;
            padding: 15px;
            transition: .3s ease-in-out;    
            &.error {
                border: 2px solid #e43232;
                &:focus {
                    border: 2px solid #e43232;
                }
                    &:focus ~ .form__area__label,
                    &:valid ~ .form__area__label {
                    top: -8px;
                    left: 12px;
                    font-size: 14px;
                    color: #e43232;
                }
            }
            &:focus {
                border: 2px solid $primary_color;
            }
            &:focus ~ .form__area__label,
            &:valid ~ .form__area__label {
                background: $white_color;
                top: -8px;
                left: 12px;
                font-size: 14px;
                color: $primary_color;
            }
            &:valid {
                border: 2px solid $primary-color;
            }
        }
        &__label {
            padding: 0px 5px;
            position: absolute;
            top: 16px;
            left: 16px;
            pointer-events: none;
            transition: .3s ease-in-out;    
            color: rgb(160, 160, 160);
        }
        &__textarea {
            textarea {
                resize: none;
                height: 125px;
            }
        }
    }
    &__area__select-box {
        position: relative;
        select {
            border: 2px solid rgb(209, 208, 208);
            width: 100%;
            padding: 0 0 0 15px;
            -webkit-appearance: none;
            appearance: none;
            color: $grey-color;
            height: 50px;
            border-radius: 5px;
            &::-ms-expand {
                display: none;
            }
            &:focus {
                outline: none;
                box-shadow: 0 0 0 0;
            }
        }
        iconify-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            color: $grey-color;
            font-size: 16px;
            pointer-events: none;
        }
    }
    &__area-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: stretch;
        gap: 40px;
        width: 100%;
        max-width: 450px;
        &.flex-button {
            margin-top: 30px;
        }
    }
    &__area-flex-title {
        margin: 0 0 30px 0;
    }
}