.header {
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;

    background: $white-color;
    color: $black-color;
    margin: 0 56px 16px 56px;
    font-weight: 500;

    &.header--shadow {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.20%);
    }

    &__logo {
        height: 100%;
        width: auto;

        & img {
            height: 100%;
            width: auto;
            image-rendering: pixelated;
        }
    }

    &__navbar {
        width: 70%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        &__navigation-menu {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &__list {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0px;
                gap: auto;

                list-style-type: none;
                &__item {
                   width: fit-content;
                    a {
                        position: relative;
                        display: block;

                        font-family: 'Inter', sans-serif;
                        font-size: $body-text;
                        color: $black-color;
                        font-weight: 500;
                        text-align: center;
                        text-decoration: none;

                        padding: 15px 16px;
                        transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 2px;

                            bottom: 5px;
                            left: 0;

                            background: $primary-color;

                            transform: scaleX(0);
                            transform-origin: right;

                            transition: transform 250ms ease;
                        }

                        &:hover {
                            color: $primary-color;
                        }

                        &:hover:after {
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }               
                }

                
                .btn > a {
                    background-color: $black-color;
                    color: $white-color;
                    font-weight: 500;
                    border-radius: 5px;
                }
                
                .btn > a:hover{
                    color: $white-color;
                }
                
                .btn > a:hover:after {
                    transform: scaleX(0);
                    transform-origin: left;
                }

            }
        }

        &__mobile-menu {
            cursor: pointer;
            display: none;
            border-radius: 5px;
            position: relative;
            ;

            span {
                width: 32px;
                height: 2px;
                background: $primary-color;
                margin: 8px;
                display: block;
                transition: 0.3s;
            }

            span:nth-child(1) {
                width: 16px;
            }

            span:nth-child(3) {
                width: 10px;
            }
        }
    }
}

@media (max-width: 857px) {
    .header{
        margin: 0 26px;
    }
}

@media (max-width: 797px) {
    .header{
        margin: 0 13px;
    }
}

@media (max-width: 771px) {
    .header{
        margin: 0 7px;
    }
}

@media (max-width: 768px) {
    .header {
        height: 8vh;
        
        &__navbar {
            &__navigation-menu {
                position: absolute;
                top: 8vh;
                right: 0;
                width: 100vw;
                max-height: 0;
                overflow: hidden;
                background-color: $white-color;
                transition: 0.3s ease-in;
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.20%);
                display: block;

                &__list {
                    flex-direction: column;

                    &__item {
                        margin-right: 0;
                        width: 100%;
                        opacity: 0;
                        padding: 25px 30px;
                        a {
                            color: $primary-color;
                            
                        }
                    }

                    .btn{
                        width: 90%;
                    }
                }
            }

            &__mobile-menu {
                display: block;

                &.active span:nth-child(1) {
                    transform: rotate(-45deg) translate(-8px, 8px);
                    width: 32px
                }

                &.active span:nth-child(2) {
                    transform: translateX(15px);
                    opacity: 0;
                }

                &.active span:nth-child(3) {
                    transform: rotate(45deg) translate(-5px, -7px);
                    width: 32px;
                }
            }
        }
    }
}

@keyframes navItemFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}