.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}
.content-main.margin {
    margin-top: 12vh;
}
@media (max-width: 110px) {
    .content-main.margin {
        margin-top: 10vh;
    }
}