.list {
    &__title {
        margin: 0;
        padding: 30px 0;
        font-size: $heading-one;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .button {
            background-color: $primary-color;
            font-size: $body-text;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            iconify-icon {
                font-size: 24px;
            }
        }
    }
    &__flex-header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        padding: 10px 0;
        font-weight: 600;
        line-height: 2;
        & div:nth-child(1) {
            flex: 0.5 1 50px;
            display: flex;
            align-items: flex-end;
            font-size: 20px;
            justify-content: center;
        }
        & div:nth-child(2) {
            flex: 1 1 200px;
        }
        & div:nth-child(3) {
            flex: 1 1 200px;
        }
        & div:nth-child(4) {
            flex: 1 1 200px;
        }
        & div:nth-child(5) {
            flex: 1 1 200px;
        }
    }
    &__flex-body {
        &__upper {
            border-top: 2px solid #dfdfdf;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            padding: 10px 0;
            & div:nth-child(1) {
                flex: 0.5 1 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & div:nth-child(2) {
                flex: 1 1 200px;
                flex-direction: column;
                gap: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                & span:nth-child(1) {
                    color: $primary-color;
                }
            }
            & div:nth-child(3) {
                flex: 1 1 200px;
            }
            & div:nth-child(4) {
                flex: 1 1 200px;
            }
            & div:nth-child(5) {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex: 1 1 200px;
                position: relative;
                padding: 0 40px 0 0;
                iconify-icon {
                    position: absolute;
                    top: 0;
                    right: 15px;
                    font-size: 18px;
                    cursor: pointer;
                    color: #a0a0a0;
                    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
                }
            }
            &.active {
                iconify-icon {
                    transform: rotate(180deg);
                }
            }
        }
        &__bottom {
            transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
            max-height: 0;
            overflow: hidden;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: $light-grey-color;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
            }
            &.active::after {
                width: 0%;
            }
            div {
                padding: 10px 0 10px 0;
                display: grid;
                gap: 10px 5px;
                justify-content: space-between;
                grid-template-columns: 1fr 1fr 1fr 1fr 125px;
                grid-template-rows: auto auto;
                grid-template-areas: "one one two three four"
                "five five six . seven";
                div {
                    color: $grey-color;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    span {
                        border: 2px solid $light-grey-color;
                        height: 38px;
                        padding: 0 10px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        border-radius: 5px;
                        margin-top: 5px;
                        color: $black-color;
                        width: 100%;
                    }
                }
                & div:nth-child(1) {
                    grid-area: one;
                }
                & div:nth-child(2) {
                    grid-area: two;
                }
                & div:nth-child(3) {
                    grid-area: three;
                }
                & div:nth-child(4) {
                    grid-area: four;     
                    display: flex;
                    align-items: flex-end; 
                    justify-content: flex-end;
                }
                & div:nth-child(5) {
                    grid-area: five;
                }
                & div:nth-child(6) {
                    grid-area: six;
                }
                & div:nth-child(7) {      
                    grid-area: seven;   
                    display: flex;
                    align-items: flex-end; 
                    justify-content: flex-end;
                }
            }
        }
    }
}