.step-by-step-purchase {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 30px 0;
        font-size: $body-text;
        color: $grey-color;
        &__item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:before {
                color: $white-color;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                background-color: $grey-color;
                margin: 0 10px 0 0;
                border-radius: 50%;
            }
            &:nth-child(1)::before {
                content: '1';
            }
            &:nth-child(2)::before {
                content: '2';
            }
            &:nth-child(3)::before {
                content: '3';
            }
            &:nth-child(4)::before {
                content: '4';
            }
            &.active {
                color: $black-color;
                &::before {
                    background-color: $black-color;
                    color: $white-color;
                }
            }
            &.success {
                color:  #63d19e;
                &::before {
                    background-color:  #63d19e;
                    color: $white-color;
                }
            }
        }
    }
    &__background-image {
        width: 100%;
        height: 70vh;
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        &__title-step-by-step {
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(2px);
            position: absolute;
            color: $white-color;
            letter-spacing: 3px;
            font-size: 50px;
            font-weight: bold;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}