
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

<br />

<br />

<br />

<br />
@Html.ActionLink("Cupons", "ListarCupom", "Cupom")


<br />
@Html.ActionLink("Cadastrar Novo Cliente", "InsertCliente", "AutenticacaoCliente")
<br />
@Html.ActionLink("Cadastrar Novo Funcionario", "InsertFuncionario", "AutenticacaoFuncionario")
<br />
*@

<section class="admin-area content-main margin">
    <div class="container">
        <h1 class="step-by-step-purchase__content-main__text__title">
            Gerenciador
        </h1>
        <div class="content">
            <a href="~/Passagem/ListarPassagem" class="item">
                <div class="icon">
                    <iconify-icon class="ico-ico" icon="material-symbols:flight"></iconify-icon>
                </div>
                <p>Passagens</p>
            </a>
            <a href="~/AutenticacaoFuncionario/ListarFuncionario" class="item">
                <div class="icon">
                    <iconify-icon class="ico-ico" icon="ic:sharp-admin-panel-settings"></iconify-icon>
                </div>
                <p>Funcionários</p>
            </a>
            <a href="~/AutenticacaoCliente/ListarCliente" class="item">
                <div class="icon">
                    <iconify-icon class="ico-ico" icon="mdi:user-group-outline"></iconify-icon>
                </div>
                <p>Clientes</p>
            </a>
            <a href="~/Cupom/ListarCupom" class="item">
                <div class="icon">
                    <iconify-icon class="ico-ico" icon="mdi:coupon"></iconify-icon>
                </div>
                <p>Cupons</p>
            </a>
            <a href="~/AutenticacaoFuncionario/AlterarSenha" class="item">
                <div class="icon">
                    <iconify-icon class="ico-ico" icon="material-symbols:password"></iconify-icon>
                </div>
                <p>Alterar senha</p>
            </a>
        </div>
    </div>

</section>