<footer class="footer">
    <div class="footer__upper">
        <div class="footer__upper__content">
            <img class="logo" src="./images/logo_horizontal.png" alt="Logotipo">
            <p>
                Nulla ultrices interdum sit ultricies venenatis fames molestie. Donec pharetra in sed odio
                sapien.
                Quisque elementum dignissim nec pretium nibh sit in nulla sed.
            </p>
            <div class="footer__upper__content__socialmedia">
                <div class="socialmedia__icon">
                    <iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
                </div>
                <div class="socialmedia__icon">
                    <iconify-icon icon="brandico:facebook"></iconify-icon>
                </div>
                <div class="socialmedia__icon">
                    <iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
                </div>
            </div>
        </div>
        <div class="footer__upper__nav">
            <ul class="footer__upper__nav__list">
                <li class="footer__upper__nav__list__item title"><a href="#">Sobre nós</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">Contato</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">História</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">Missão, visão e valores</a>
                </li>
            </ul>

            <ul class="footer__upper__nav__list">
                <li class="footer__upper__nav__list__item title"><a href="#">Sobre nós</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">Contato</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">História</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">Missão, visão e valores</a>
                </li>
            </ul>

            <ul class="footer__upper__nav__list">
                <li class="footer__upper__nav__list__item title"><a href="#">Legal</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">Privacidade</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">Termos de uso</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">Cookies</a></li>
                <li class="footer__upper__nav__list__item"><a href="#">Mapa do site</a></li>
            </ul>
        </div>
    </div>

    <div class="line"></div>

    <div class="footer__lower">
        <p class="footer__lower__copyright">
            <span>&#169;</span> 2022 Volait - Todos os Direitos Reservados
        </p>
        <p class="footer__lower__developers">
            <iconify-icon icon="entypo:code"></iconify-icon>Desenvolvido por<a href="#" target="_blank"
                rel="noopener noreferrer">Ahrus</a>
        </p>
    </div>
</footer>
</body>

</html>