<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="./style/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <script defer src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

    <script defer src="js/jquery-3.6.1.min.js"></script>
    <script defer src="js/script.js"></script>

    <script defer src="./style/js/header.js"></script>

    <title>Volait | Descubra o mundo conosco</title>
</head>

<body>
    <header class="header">
        <a class="header__logo" href="index.html">
            <img src="./images/logo_horizontal.png" alt="Logotipo">
        </a>

        <div class="header__navbar">
            <div class="header__navbar__mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="header__navbar__navigation-menu">
                <ul class="header__navbar__navigation-menu__list">
                    <li class="header__navbar__navigation-menu__list__item"><a href="">Home</a></li>
                    <li class="header__navbar__navigation-menu__list__item"><a href="">Passagens</a></li>
                    <li class="header__navbar__navigation-menu__list__item"><a href="">Contato</a></li>
                    <li class="header__navbar__navigation-menu__list__item"><a href="">Sobre</a></li>
                    <li class="header__navbar__navigation-menu__list__item"><a href="">Login</a></li>
                    <li class="header__navbar__navigation-menu__list__item btn"><a href="">Cadastrar-se</a></li>
                </ul>
            </nav>
        </div>
    </header>