.customers-list {
    .list {
        &__title {
            .button {
                iconify-icon {
                }
            }
        }
        &__flex-header {
            & div:nth-child(1) {
            }
            & div:nth-child(2) {
            }
            & div:nth-child(3) {
            }
            & div:nth-child(4) {
            }
            & div:nth-child(5) {
            }
        }
        &__flex-body {
            &__upper {
                & div:nth-child(1) {
                }
                & div:nth-child(2) {
                    & span:nth-child(1) {
                    }
                }
                & div:nth-child(3) {
                }
                & div:nth-child(4) {
                }
                & div:nth-child(5) {
                    iconify-icon {
                    }
                }
                &.active {
                    iconify-icon {
                    }
                }
            }
            &__bottom {
                &::after {
                }
                &.active::after {
                }
                div {
                    grid-template-columns: 2fr 1fr 2fr 1fr 125px;
                    grid-template-areas: "one . two . three"
                    "four . five . six";
                    div {
                        align-items: flex-start;
                        span {
                        }
                    }
                    & div:nth-child(1) {
                        grid-area: one;
                    }
                    & div:nth-child(2) {
                        grid-area: two;
                    }
                    & div:nth-child(3) {
                        grid-area: three;
                        display: flex;
                        align-items: flex-end; 
                        justify-content: flex-end;
                    }
                    & div:nth-child(4) {
                        grid-area: four;     
                    }
                    & div:nth-child(5) {
                        grid-area: five;
                    }
                    & div:nth-child(6) {
                        grid-area: six;
                        display: flex;
                        align-items: flex-end; 
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}