* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%
}

body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    width: 100vw;
    max-width: 100%;
    overflow-x: none
}

.button {
    background-color: #1B1B1B;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #FDFDFD
}

.form {
    text-align: center;
    font-size: 16px;
    max-width: 450px;
    padding: 0px
}

.form__title {
    font-size: 3.2rem;
    color: #FF9575
}

.form__text {
    text-align: right
}

.form__text {
    margin: 10px
}

.form__accent-text a {
    color: #FF9575
}

.form #input_name-error.error, .form #input_email-error.error, .form #input_subject-error.error, .form #input_message-error.error {
    display: block;
    margin-top: 5px;
    color: #e43232
}

.form__area {
    width: 100%;
    margin-top: 25px;
    position: relative
}

.form__area__input {
    font-size: 14px;
    background: none;
    border: 2px solid #d1d0d0;
    outline: none;
    color: #1B1B1B;
    width: 100%;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 15px;
    transition: .3s ease-in-out
}

    .form__area__input.error {
        border: 2px solid #e43232
    }

        .form__area__input.error:focus {
            border: 2px solid #e43232
        }

            .form__area__input.error:focus ~ .form__area__label, .form__area__input.error:valid ~ .form__area__label {
                top: -8px;
                left: 12px;
                font-size: 14px;
                color: #e43232
            }

    .form__area__input:focus {
        border: 2px solid #FF9575
    }

        .form__area__input:focus ~ .form__area__label, .form__area__input:valid ~ .form__area__label {
            background: #FDFDFD;
            top: -8px;
            left: 12px;
            font-size: 14px;
            color: #FF9575
        }

.form__area__label {
    padding: 0px 5px;
    position: absolute;
    top: 16px;
    left: 16px;
    pointer-events: none;
    transition: .3s ease-in-out;
    color: #a0a0a0
}

.form__area__textarea textarea {
    resize: none;
    height: 125px
}

.form__area-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap
}

    .form__area-flex div {
        flex: 1 1 250px
    }

.form__area-flex-title {
    margin: 0 0 30px 0
}

.form .button.button--submit {
    margin-top: 50px;
    background-color: #FF9575;
    color: #FDFDFD;
    width: 100%
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
    transition: all 0.3s ease-in
}

    .header.header--shadow {
        box-shadow: 0 0 2px rgba(0,0,0,0.2)
    }

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 12vh;
        background-color: inherit
    }

.header__logo img {
    height: 55px
}

.header__navbar {
    display: flex;
    align-items: center
}

.header__navbar__mobile-menu {
    display: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative
}

    .header__navbar__mobile-menu span {
        width: 32px;
        height: 2px;
        background: #FF9575;
        margin: 8px;
        display: block;
        transition: 0.3s
    }

        .header__navbar__mobile-menu span:nth-child(1) {
            width: 16px
        }

        .header__navbar__mobile-menu span:nth-child(3) {
            width: 10px
        }

.header__navbar__navigation-menu {
    display: flex;
    align-items: center
}

.header__navbar__navigation-menu__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px
}

    .header__navbar__navigation-menu__list__item, .header__navbar__navigation-menu__list a {
        display: block;
        position: relative;
        font-size: 16px;
        color: #1B1B1B;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        padding: 10px 15px;
        transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }

        .header__navbar__navigation-menu__list__item.active, .header__navbar__navigation-menu__list a.active {
            color: #FF9575
        }

        .header__navbar__navigation-menu__list__item a:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0px;
            left: 0;
            background: #FF9575;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 250ms ease
        }

        .header__navbar__navigation-menu__list__item a:hover {
            color: #FF9575
        }

            .header__navbar__navigation-menu__list__item a:hover:after {
                transform: scaleX(1);
                transform-origin: left
            }

    .header__navbar__navigation-menu__list .button a {
        color: #FDFDFD !important
    }

@media (max-width: 1100px) {
    .header .container {
        height: 10vh
    }

    .header__navbar__mobile-menu {
        display: block
    }

        .header__navbar__mobile-menu.active span:nth-child(1) {
            transform: rotate(-45deg) translate(-8px, 8px);
            width: 32px
        }

        .header__navbar__mobile-menu.active span:nth-child(2) {
            transform: translateX(15px);
            opacity: 0
        }

        .header__navbar__mobile-menu.active span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -7px);
            width: 32px
        }

    .header__navbar__navigation-menu {
        display: block;
        position: absolute;
        top: 10vh;
        right: 0;
        left: 0;
        width: 100vw;
        max-height: 0;
        overflow: hidden;
        background-color: #FDFDFD;
        z-index: 998;
        transition: 0.3s ease-in
    }

    .header__navbar__navigation-menu__list {
        flex-direction: column;
        height: 100%;
        padding: 0 0 20px 0;
        gap: 10px
    }

    .header__navbar__navigation-menu__list__item {
        width: 100%;
        opacity: 0;
        padding: 0
    }

        .header__navbar__navigation-menu__list__item a {
            color: #FF9575;
            padding: 25px
        }

            .header__navbar__navigation-menu__list__item a:after {
                bottom: 10px
            }

    .header__navbar__navigation-menu__list .button {
        width: 90%
    }
}

@keyframes navItemFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.footer {
    gap: 32px;
    margin: 0 56px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.footer__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch
}

.footer__upper__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 42px;
    width: 30%;
    height: 100%
}

    .footer__upper__content img {
        width: 50%;
        height: auto
    }

    .footer__upper__content p {
        font-weight: 400;
        line-height: 32px;
        text-align: justify;
        color: silver
    }

.footer__upper__content__socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FDFDFD
}

    .footer__upper__content__socialmedia .socialmedia__icon {
        height: 32px;
        width: 32px;
        font-size: 20px;
        background-color: #FF9575;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer
    }

.footer__upper__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%
}

.footer__upper__nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%
}

.footer__upper__nav__list__item a {
    text-decoration: none;
    color: silver;
    font-weight: 400;
    transition: 0.2s ease-in
}

    .footer__upper__nav__list__item a:hover {
        color: #FF9575
    }

.footer__upper__nav__list .title > a {
    color: #1B1B1B;
    font-weight: 500;
    transition: 0.2s ease-in
}

    .footer__upper__nav__list .title > a:hover {
        text-decoration: underline
    }

.footer .line {
    height: 1px;
    width: 100%;
    background-color: silver
}

.footer__lower {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1B1B1B
}

.footer__lower__developers {
    display: flex;
    justify-content: space-between;
    align-items: center
}

    .footer__lower__developers:hover > a {
        text-decoration: underline
    }

    .footer__lower__developers a {
        color: #FF9575;
        text-decoration: none;
        transition: 0.2s ease-in-out
    }

@media (max-width: 857px) {
    .footer {
        margin: 0 26px
    }
}

@media (max-width: 797px) {
    .footer {
        margin: 0 13px
    }
}

@media (max-width: 771px) {
    .footer {
        margin: 0 7px
    }
}

.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto
}

.content-main.login .container, .content-main.sign-up .container {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid orange
}

    .content-main.login .container .side-content, .content-main.sign-up .container .side-content {
        flex: 1 1 300px
    }

    .content-main.login .container .form-container, .content-main.sign-up .container .form-container {
        flex: 2 1 300px
    }

.content-main.login .side-content, .content-main.login .form-container, .content-main.sign-up .side-content, .content-main.sign-up .form-container {
    padding: 40px
}

.content-main.login .side-content, .content-main.sign-up .side-content {
    background: linear-gradient(180deg, #FF9575 0%, #FFBE9D 100%);
    display: flex;
    flex-direction: column;
    align-items: flex;
    justify-content: space-between;
    color: #FDFDFD;
    font-size: 16px
}

.content-main.login .side-content__bottom, .content-main.sign-up .side-content__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.content-main.login .side-content__logo, .content-main.login .side-content a, .content-main.sign-up .side-content__logo, .content-main.sign-up .side-content a {
    margin: 0 0 30px 0;
    text-decoration: none;
    color: #FDFDFD;
    font-size: 16px
}

.content-main.login .side-content__text, .content-main.sign-up .side-content__text {
    font-size: 3.2rem;
    margin-bottom: 30px
}

.content-main.login .side-content__image, .content-main.sign-up .side-content__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px
}

    .content-main.login .side-content__image img, .content-main.sign-up .side-content__image img {
        width: 250px;
        display: block
    }

.content-main.login .form-container, .content-main.sign-up .form-container {
    padding: 60px 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

    .content-main.login .form-container .form, .content-main.sign-up .form-container .form {
        display: block;
        width: 100%
    }

    .content-main.login .form-container .form__accent-text, .content-main.sign-up .form-container .form__accent-text {
        color: #FF9575
    }

.home-page {
    margin: 70px 56px;
    height: auto
}

    .home-page .hero {
        background: linear-gradient(89.87deg, #fff 35.82%, rgba(255,255,255,0) 62.94%),url(~/images/hero-background.jpg);
        background-position: right bottom;
        background-size: 100% auto;
        border-radius: 10px;
        padding: 0 56px
    }

    .home-page .hero__content {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .home-page .hero__content__title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 5.6rem;
        line-height: 87px;
        color: #1B1B1B
    }

    .home-page .hero__content__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #1B1B1B
    }

    .home-page .hero__content__button {
        background-color: #FF9575;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 8px 32px;
        width: 50%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        color: #FDFDFD;
        transition: 0.2s ease-in;
        cursor: pointer
    }

    .home-page .hero__filter-bar {
        display: flex;
        font-family: 'Inter', 'sans-serif';
        height: 150px;
        align-items: center;
        justify-content: space-around;
        background-color: #FDFDFD;
        width: 100%;
        transform: translateY(65px);
        box-shadow: 10px 8px 80px rgba(18,18,18,0.25);
        border-radius: 5px
    }

    .home-page .hero__filter-bar__parameters {
        display: flex;
        flex-direction: column;
        height: fit-content;
        font-family: 'Inter', sans-serif
    }

    .home-page #input_local, .home-page #input_date, .home-page #input_price {
        border: none;
        border: 2px solid #DCD5DC;
        border-radius: 5px;
        height: 35px
    }

    .home-page .hero__filter-bar__button {
        border: none;
        border: 1px solid #FF9575;
        width: 125px;
        height: 45px;
        border-radius: 3px;
        background-color: #FF9575;
        color: white;
        margin-left: 20px;
        font-family: 'Inter', 'sans-serif';
        cursor: pointer
    }

    .home-page label {
        font-family: 'Inter', 'sans-serif';
        font-size: 16px;
        margin-bottom: 12px
    }

.content-main.sign-up .side-content {
    order: 2;
    justify-content: flex-start
}

.content-main.sign-up .side-content__bottom {
    margin-top: 40px
}

.content-main.sign-up .form-container {
    order: 1
}

@media (max-width: 650px) {
    .content-main.sign-up .side-content {
        order: 1
    }

    .content-main.sign-up .form-container {
        order: 2
    }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}

    button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0
    }

    button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText
    }

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}
