// Abstracts
@import 'abstracts/_colors';
@import 'abstracts/_font-size';

// Base
@import 'base/_reset';

// Components

// Layout
@import 'components/_header';
@import 'components/_footer';

// Pages
@import 'pages/_home';

// Themes

// Vendors

// node-sass -w --output-style compressed Frontend/style/sass/style.scss Frontend/style/css/style.css