* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: $body-text;
	font-family: "Inter", sans-serif;
	width: 100vw;
	max-width: 100%;
	overflow-x: none;
}